div.infoUser{
	border: 2px solid blue;
    width: 200px;
    height: 100px;
}
div.close{
	width: 16px;
    height: 16px;
    border-radius: 50%;
  	border: 1px solid blue;
    position: relative;
    top: 7px;
    left: 172px;
}
div.close::before, div.close::after{
	content: '';
	display: inline-block;
	width: 8px;
	height: 1px;
	position: absolute;
	background: blue;
}
div.close::before{
	top: 7px;
	left: 4px;
	transform: rotate(-45deg);
}
div.close::after{
	top: 7px;
	left: 4px;
	transform: rotate(45deg);
}


